service cloud.firestore {

  function isSiteAdmin() {
    get(/databases/$(database)/documents/users/$(request.auth.uid)).data.permissions.isSiteAdmin == true;
  }

  function isAuthor() {
    get(/databases/$(database)/documents/users/$(request.auth.uid)).data.permissions.isAuthor == true;
  }

  match /databases/{database}/documents {

    match /docs/{doc} {
      allow read;
      allow create: if isAuthor();
      allow update: if request.auth.uid == resource.data.author.uid;
      allow delete: if request.auth.uid == resource.data.author.uid;
    }

    match /progressLogs/{log} {
      allow read, write: if request.auth.uid != null;
    }

    match /system/app {
      allow read;
      allow write: if isSiteAdmin();
    }

    match /users/{user} {
      allow read;
      allow create:
        if request.resource.data.permissions == null;
      allow update:
        if (request.auth.uid == resource.data.uid &&
        	request.resource.data.permissions == resource.data.permissions) ||         
          isSiteAdmin();
    }
  }
}
